<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Bookmark{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body class="{% block body_class %}{% endblock %}">
  <div class="container">
    <header>
      <h1><a href="/">Bookmark App</a></h1>
      <nav>
        {% block header_nav %}{% endblock %}
      </nav>
    </header>

    <main>
      {% block content %}{% endblock %}
    </main>
  </div>
  <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>

</html>