# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
env/
ENV/

# Database (SQLite)
db/
*.db

# Environment variables
.env

# OS specific files
.DS_Store
Thumbs.db

# Flask/Instance folder
instance/
